@model IList<Appointment>

@functions {
    public Patient Patient { get; }
}
@{
    var pl = Model;
    var u = User;
    var p2 = Patient;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Appointments</li>
    </ol>
</nav>
      @* @if (User.IsInRole(Role.manager.ToString())) *@
<div class="card border rounded shadow mt-4 p-4">
   
    <div class="d-flex align-items-center justify-content-between">
         <h3>Appointment List</h3>
        <a asp-roles="manager" asp-action="AddAppointment" class="btn btn-primary btn-sm">
            <i class="bi bi-bag-plus-fill me-2" title="Add Appointment"></i>
            <span>Add Appointment</span>
        </a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th> 
            <th>Time</th>
            <th>Carer Id</th> 
            <th>Carer Name</th>
            <th>Patient Id</th>
            <th>Patient Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var app in Model) {
            <tr>
                <td>@app.Date.ToShortDateString()</td>
                <td>@app.Time.ToShortTimeString()</td>
                <td>@app.UserId</td>
                <td>@app.User.Name</td>
                <td>@app.PatientId</td>
                <td>@app.Patient.Name</td>

                    <td class="d-flex gap-1">
                        <a asp-controller="Patient" asp-action="Details" asp-route-id="@app.PatientId">
                            <i class="bi bi-info-circle" title="View Patient"></i>
                        </a>
                        <a asp-action="AppointmentDetails" asp-action="" asp-route-id="@app.Id">
                            <i class="bi bi-info-circle" title="View Details"></i>
                        </a>
                        @* @if (User.IsInRole("Admin") || User.IsInRole("Manager")) *@

                        <a asp-roles="manager,admin" asp-action="EditAppointment" asp-route-id="@app.Id">
                            <i class="bi bi-pencil" title="Edit Appointment"></i>
                        </a>

                        @* @if (User.IsInRole("Admin") || User.IsInRole("Manager")) *@

                        <a asp-roles="manager,admin" asp-action="Delete" asp-route-id=@app.Id>
                            <i class="by bi-trash" title="Delete Appointment"></i>
                        </a>
    
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
